@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Oswald:wght@200..700&display=swap");


#app {
  max-width: 90%;
  margin: 0 auto;
  font-weight: normal;
}

body{
  font-family: "Nunito Sans", sans-serif;
}
